<div class="searchBar">
    <div class="container">
        <form action="/search" class="search_form" method="POST" role="search">
            
            <input type="search"
            aria-label="Search"
            id="saerchInput"
            name="searchTerm"
            placeholder="Search the site..."/>
            
        </form>

        <div id="searchClose">
            Close
        </div>
    </div>
</div>